<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PyXel.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <PyXel.My.MySettings>
            <setting name="PythonPath" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>Alpha v0.1</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>blue</value>
            </setting>
            <setting name="Python2Path" serializeAs="String">
                <value>none</value>
            </setting>
        </PyXel.My.MySettings>
    </userSettings>
</configuration>
